body { background: url(../images/backgrounds/darkwood.jpg) repeat; }

/* ==========  General styles ========== */
.wrapper { margin: 0 3%; clear: both; }
.img { border: 1px solid #d5d5d5; }
a { color: #3a91e2; }

.head { background: #efefef url(theme_color_darkwood_blue/NavBg_all.png) repeat-x; height: 38px; border-top: 1px solid #797979; border-bottom: 1px solid #bababa; position: relative; color: #464A55 }

/* ===== Header ===== */
.logo .box{ width: 200px; height: 64px; display: block; background: url(theme_color_darkwood_blue/loginLogo.png) no-repeat; }

/* ===== Top navigation ===== */
.fixed { position: fixed; background: #000; width: 100%; color: #eeeeee; border-bottom: 1px solid #000; z-index: 999; }


.userNav ul li:first-child { border-left: 1px solid #292929; }

.userNav ul li ul { position: absolute; left: -1px; display: none; top: 36px; margin-top: 0px; background: #2f2f2f; padding: 0 1px 1px 1px; border: none; z-index: 100; }

.userNav ul li ul li { border-top: 1px solid #292929; background: url(theme_color_darkwood_blue/titleBg.png) repeat-x 0 0; border-right: none; }
.userNav ul li ul li a {color: #a4a4a4;}
.userNav ul li ul li:hover { background: url(theme_color_darkwood_blue/titleBg.png) repeat-x; background-position: 0 -39px; }
.userNav ul li ul li a.active {background: url(theme_color_darkwood_blue/titleBg.png) repeat-x; background-position: 0 -39px; color: #fff;}

/* ===== Left navigation ===== */
.leftNav ul li a { color: #fafafa; text-shadow: 0 1px 0 #687282; font-size: 14px; display: block; background: url(theme_color_darkwood_blue/titleBg.png) repeat-x 0 0; border: 1px solid #666666; margin-top: 1px; }
.leftNav ul li a:hover { color: #494949; text-shadow: none; background-position: 0 -78px; border: 1px solid #fafafa; }
.leftNav ul li a.active {color: #fafafa; background-position: 0 -39px; border: 1px solid #3a91e2; text-shadow: 0 1px 0 #3a91e2; }
.leftNav ul li a span { padding: 9px 0 9px 15px; display: block; }
#leftNav_show #toggle-LeftMenu span{ background-image: url(theme_color_darkwood_blue/left_menu_show.png); }

/* Left navigation subnav */

ul.sub { border: 1px solid #d5d5d5; border-top: none; background: url(../images/leftNavSub.png) repeat; }
ul.sub li { border-bottom: 1px dotted #d5d5d5; padding: 1px; }
ul.sub li a { background: url(../images/arrow.gif) no-repeat 8px 16px; border: none; font-family: Arial, Helvetica, sans-serif; color: #494949; font-size: 11px; padding: 8px 10px 8px 18px; text-shadow: 0 1px 0 #ccc; }
ul.sub li a:hover, .sub li a:active { font-style: normal; border: none; color: #676767; background: url(../images/arrow.gif) no-repeat 8px 16px; }

ul.sub li ul { border: none; border-top: 1px solid #c9c9c9; }
ul.sub li ul li { padding-left: 10px; }

/* Left navigation sub stat */
ul.sub_stat { border: 1px dotted #d5d5d5; background: url(../images/leftNavSub.png) repeat; margin-top: 12px; }
ul.sub_stat li { border-bottom: 1px dotted #d5d5d5; padding: 1px; }
ul.sub_stat li div { background: url(../images/arrow.gif) no-repeat 8px 16px; border: none; font-family: Arial, Helvetica, sans-serif; color: #494949; font-size: 11px; padding: 8px 10px 8px 18px; }

ul.sub_stat li ul { border: none; border-top: 1px solid #c9c9c9; }
ul.sub_stat li ul li { padding-left: 10px; }

.widget .num a { background: url(theme_color_darkwood_blue/numDataBg.png) repeat-x; height: 19px; padding: 3px 10px; color: #fefefe; }
.widget .num a.basicNum {background-position: 0 0; border: 1px solid #336699; color: #fff; -moz-box-shadow: 0 0 2px #336699; -webkit-box-shadow: 0 0 2px #336699; box-shadow: 0 0 2px #336699;}
.widget .num a.basicNum:hover { background-position: 0 -21px; }
.widget .num a.basicNum:active { background-position: 0 -42px; }

.questions { background: url(theme_color_darkwood_blue/orangeBtn.png) repeat-x 0 0; border: 1px solid #CE5300; color: #fff; -moz-box-shadow: 0 0 2px #9B3E00; -webkit-box-shadow: 0 0 2px #9B3E00; box-shadow: 0 0 2px #9B3E00; padding: 2px 6px;}
.questions:hover { background-position: 0 -25px; }
.questions:active { background-position: 0 -50px; }

.basicBtn { background: url(../images/ui/blueBtn.png) repeat-x 0 0; border: 1px solid #336699; color: #fff; -moz-box-shadow: 0 0 2px #336699; -webkit-box-shadow: 0 0 2px #336699; box-shadow: 0 0 2px #336699; }
.basicBtn:hover { background-position: 0 -25px; }
.basicBtn:active { background-position: 0 -50px; }

.dualBtn { padding: 7px 8px; cursor: pointer; line-height: 12px; background: url(../images/ui/blueBtn.png) repeat-x 0 0; border: 1px solid #3581c1; color: #fff; -moz-box-shadow: 0 0 2px #545454; -webkit-box-shadow: 0 0 2px #545454; box-shadow: 0 0 2px #545454; }
.dualBtn:hover { background-position: 0 -25px; }
.dualBtn:active { background-position: 0 -50px; }

.btn14 { border: 1px solid #24272B; background: url(../images/titleBg.png) repeat-x 0 0; padding: 6px 8px; display: inline-block; -moz-box-shadow: 0 1px 0 #363B3E;  -webkit-box-shadow: 0 1px 0 #363B3E; box-shadow: 0 1px 0 #363B3E; }
.btn14:hover { background-position: 0 -39px; }
.btn14:active { background: #557a8e; }

.btn55 { background: #3b5867 url(../images/middlebg.png) repeat-x 0 0; border: 1px solid #292D2F; padding: 7px 6px 0px 6px; display: inline-block; -moz-box-shadow: 0 1px 0 #363B3E; -webkit-box-shadow: 0 1px 0 #363B3E; box-shadow: 0 1px 0 #363B3E; }
.btn55:hover { background-position: 0 -56px; }
.btn55:active { background-position: 0 -112px; }
.btn55 span { display: block; padding: 5px 5px 0 5px; color: #eaeaea; }

.btnIconLeft { border: 1px solid #292D2F; background: url(../images/titleBg.png) repeat-x 0 0; display: inline-block; color: #fafafa; text-decoration: none; }
.btnIconLeft:hover { background-position: 0 -39px; border: 1px solid #292D2F; }
.btnIconLeft:active { background: #557a8e; }
.btnIconLeft .icon { float: left; border-right: 1px solid #292D2F; padding: 8px; }
.btnIconLeft span { display: block; float: left; padding: 5px 10px; font-weight: bold; }


/* ========== Pagination ========== */
.pagination { margin: auto; width: auto; text-align: center; margin-top: 40px; }
.pages { color: #fff }
.pages li.prev { margin-right: 15px; }
.pages li.next { margin-left: 15px; }
.pages li { display: inline; margin: 0 2px; }
.pages li a { height: 25px; padding: 4px 8px; text-decoration: none; color: #666; font-weight: bold; background: url(theme_color_darkwood_blue/pagination.png) repeat-x 0 0; border: 1px solid #d5d5d5; font-size: 11px; }
.pages li a:hover { background: #efefef; }
.pages li .active { background-position: 0 -26px; color: #fff; border-color: #666; }
.pages li .active:hover { background: #666; }

/* ==========  Numbers notifications  ========== */
.numberTop, .numberMiddle, .numberLeft { text-align: center; display: inline-block; padding: 1px 5px; color: #fff; float: right; margin: 10px 15px 10px -5px; font-size: 11px; line-height: 14px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-khtml-border-radius: 3px;
border-radius: 3px;
}

/* ==========  Numbers notifications  ========== */
.numberTop, .numberMiddle, .numberLeft, a.numberLeft { text-align: center; display: inline-block; padding: 1px 5px; color: #fff; float: right; margin: 10px 15px 10px -5px; font-size: 11px; line-height: 14px;-moz-border-radius: 3px;-webkit-border-radius: 3px;-khtml-border-radius: 3px;border-radius: 3px;}
.numberTop, .numberMiddle { margin: 9px 15px 8px -5px; padding: 1px 5px!important; background: url(theme_color_darkwood_blue/numDataBg.png) repeat-x; border: 1px solid #CC6600;}
.numberMiddle { margin: 0; position: absolute; top: -7px; right: -7px; font-size: 11px; background: url(theme_color_darkwood_blue/numDataBg.png) repeat-x; }
.numberLeft { margin: 0; position: absolute; top: 10px; right: 0px; font-size: 11px; font-family: Arial, Helvetica, sans-serif; float: none; background: url(theme_color_darkwood_blue/numDataBg.png) repeat-x!important; padding: 2px 6px!important;}


.content .title { background: url(theme_color_darkwood_blue/NavBg.png) repeat-x; height: 36px; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.content .title h5 { float: left; color: #fafafa; font-weight: normal; display: block; padding: 7px 15px; }

/* ===== PopUp ===== */
#popup_title { text-align: center; background: url(theme_color_darkwood_blue/leftNavBg.png) repeat-x; border-bottom: 1px solid #d5d5d5; cursor: default; padding: 9px 0 9px 0px; margin: 0em; height: 20px; }
#popup_content { background: #fafafa; padding: 1em 1.75em; margin: 0em; }
#popup_message { text-align: center; }
#popup_panel { text-align: center; margin: 1em 0em 0em 0em; }
#popup_message input[type=text] { background: #FCFCFC; border: 1px solid #D1D1D1; padding: 5px; width: 258px; }
#popup_prompt { margin: .5em 0em; }

/* ===== Forms ===== */
/* Selects */
.jqTransformSelectWrapper ul a.selected { background: #3a91e2; color: #fff; }

/* ===== Growl notifications ===== */
div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
	background-color: #3a91e2;
	opacity: .75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
	zoom: 1;
	width: 235px;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 1em;
	text-align: left;
	display: none;
}

.tableStatic tbody tr:hover { background-color: #e8f2ff; }
.rowElem:hover { background: none repeat scroll 0 0 #e8f2ff;}


/* ===== Tabs ===== */
ul.tabs { background: url(theme_color_darkwood_blue/leftNavBg.png) repeat-x; height: 36px; border-bottom: 1px solid #d5d5d5; border-top: 1px solid #d5d5d5; }

.tabsRight { position: relative; }
.tabsRight ul.tabs { float: right; background: url(theme_color_darkwood_blue/leftNavBg.png) repeat-x; height: 38px; border-bottom: 1px solid #d5d5d5; position: absolute; top: 0; right: 0; }

/* ==========  Website stats  ========== */
.webStatsLink { font-size: 12px; color: #3a91e2; font-weight: bold; }

/* ===== Footer ===== */
#footer { clear: both; /*height: 36px;*/ background: #000; width: 100%; color: #eeeeee; margin-top: 42px; position: absolute; bottom: 0; }

.code {
	background-color: #e8f2ff;
	color: rgba(0, 0, 0, 0.75);
	padding: 1px 3px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { background: url(theme_color_darkwood_blue/titleBg.png) repeat-x 0 -39px; font-weight: normal; color: #fff; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; background: url(theme_color_darkwood_blue/titleBg.png) repeat-x 0 -39px; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { background: url(theme_color_darkwood_blue/titleBg.png) repeat-x 0 -39px; font-weight: normal; color: #d5d5d5; }
.ui-state-hover a, .ui-state-hover a:hover { color: #797979; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { background: url(theme_color_darkwood_blue/titleBg.png) repeat-x 0 -39px; font-weight: normal; color: #fff; }